extends layout

block content

 if posts
   each post, i in posts
    .post
    .container
     h1
      a(href='/posts/show/#{post._id}')
       =post.title
     p.meta Posted in 
      a(href='/categories/show/#{post.category}') #{post.category} 
      by #{post.author} 
      on #{moment(post.date).format("MM-DD-YYYY")}
     img(src='/images/#{post.mainimage}')
     !=truncateText(post.body,400)
     form(method='post', action='/delete/'+post._id)

        input.btn.btn-default(name='submit',type='submit',value='Delete' onClick="return confirm('Are you sure you want to delete?')")
     a.more(href='/posts/show/#{post._id}') Read More


